*{
    margin: 0;
    padding: 0;
}

#ae{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
}

#aa{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
    left: 100px;
}

#aa:hover{
    outline: none;
    background-color: aquamarine;
    color: black;
}