*{
    padding: 0;
    margin: 0;

}

.new{
    margin-left: 20%;
    font-size: 20px;
}

.input{
    width: 500px;
    margin: 10px 20px;
}

.oj{
    margin-top: 20px;
    width: 300px;
    font-size: 15px;
    position: relative;
    left: 300px;
}